{{#hands}}
<div id="{{name}}" class="payHand">
  <div class="name table">{{name}}</div>
  <div class="bet1 table">{{bet1}}</div>
  <div class="bet2 table">{{bet2}}</div>
  <div class="bet3 table">{{bet3}}</div>
  <div class="bet4 table">{{bet4}}</div>
  <div class="bet5 table">{{bet5}}</div>
</div>
{{/hands}}
