!!!
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    title= title
    != css('style')
  body
    #game
    // not working with Snockets concatenation...
    script(src='javascripts/hogan-2.0.0.min.js')
    != js('app')
