body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 960px;
}

a {
  color: #00B7FF;
}

#instructions {
  text-align: center;
}

#hand {
  margin-top: 25px;
  margin-bottom: 25px;
}

#credits {
  margin-left: 600px;
}

.card {
  display: inline-block;
  width: 180px;
  text-align: center;
  margin-left: 10px;
  padding-top: 50px;
  padding-bottom: 45px;
  border-radius: 15px;

  &:last {
    margin-right: 10px;
  }

  &.D{
    color: black;
    background: #A00;
  }
  &.H {
    color: black;
    background: red;
  }
  &.S{
    color: white;
    background: black;
  }
  &.C{
    color: white;
    background: #666;
  }

  .hold {
    visibility: hidden;
    position: relative;
    top: 32px;
    left: 18px;
    background: white;
    color: black;
    font-size: 24px;
    -webkit-transform: rotate(-27deg);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .text {
      margin-left: 40px;
    }
    &.isHeld {
      visibility: initial;
    }
  }
}

.table {
  display: inline;
}

#payTable {
  .payHand {
    &.highlightHand {
      background: lightBlue;
    }

    .highlightBet {
      background: lightgreen;
    }


    .bet1,
    .bet2,
    .bet3,
    .bet4,
    .bet5 {
      position: absolute;
    }

    .bet1 { left: 400px; }
    .bet2 { left: 450px; }
    .bet3 { left: 500px; }
    .bet4 { left: 550px; }
    .bet5 { left: 600px; }
  }
}
